.text-principal{
  
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color:  #ffffff; 

}
.text-pricipald{
    text-align: center; 
    font-family: Arial black; 
    font-weight:bold; 
    font-size: 30px; 
    color: #ffffff; 
}

.text-s{
    font-size: 40px;
    padding-top: 10px;
}

/* Por debajo de 700px */

    @media screen and (max-width: 700px){
        .text-principal{
        font-size:20px;
        }
        .text-s{
        font-size:22px;
        }
        }
        /* Por debajo de 400px */
        @media screen and (max-width: 400px){
        .text-pricipal{
        font-size:20px;
        }
        .text-s{
        font-size:22px;
        }
        }