<menu-nav></menu-nav>
<app-banner></app-banner> <br>
<div class="container-fluid">


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header primary-color-dark text-white d-flex justify-content-center align-items-center">
                    <div class="text-principal ">
                        <h2><strong class="text-s ">OFICINA EN SANTIAGO PAPASQUIARO</strong></h2>
                    </div>
                </div>
                <div class="card-body primary-color">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header primary-color-dark d-flex justify-content-center align-items-center">
                                    <h4 class="text-white"><mdb-icon fas icon="map-marker-alt"></mdb-icon><strong> UBICACION</strong></h4>
                                </div>
                                <div class="card-body primary-color-dark text-white justify-content-center">
                                    <p class="text-justify text-center"><strong>COPRISED.</strong> </p> 
                                    <p class="text-justify text-center">Donato Guerra 101, Altamira, 34635 Santiago Papasquiaro, Dgo.</p> 
                                    <h5 class="text-uppercase font-weight-bold text-center"><i class="far fa-clock"></i> HORARIO.</h5>
                                    <hr>
                                    <p class="text-justify text-center">Lu - 9:00 a 14:00</p>
                                    <p class="text-justify text-center">Ma - 9:00 a 14:00</p>
                                    <p class="text-justify text-center">Mi - 9:00 a 14:00</p>
                                    <p class="text-justify text-center">Ju - 9:00 a 14:00</p>
                                    <p class="text-justify text-center">Vi - 9:00 a 14:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="map-container" class="z-depth-1-half embed-responsive hoverable marco" style="height: 465px; width: 600;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4496.745537257297!2d-105.42166508743172!3d25.04379730045583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8697680f57f0b917%3A0xac21f09791b363c4!2sCoprised!5e0!3m2!1ses!2smx!4v1559686063283!5m2!1ses!2smx" 
                                width="600" 
                                height="465" 
                                frameborder="0" 
                                style="border:0" 
                                allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header primary-color-dark text-white d-flex justify-content-center align-items-center">
                    <div class="text-pricipald">
                        <h2><strong class="text-s">OFICINA EN DURANGO, DGO</strong></h2>
                    </div>
                </div>
                <div class="card-body primary-color">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header primary-color-dark d-flex justify-content-center align-items-center">
                                    <h4 class="text-white"><mdb-icon fas icon="map-marker-alt"></mdb-icon><strong> UBICACION</strong></h4>
                                </div>
                                <div class="card-body primary-color-dark text-white justify-content-center">
                                    <p class="text-justify text-center"><strong>COPRISED</strong></p> 
                                    <p class="text-justify text-center">Av. Cuauhtémoc 225 Norte, Centro, 34000 Durango, Dgo.</p> 
                                    <h5 class="text-uppercase font-weight-bold text-center"><i class="far fa-clock"></i> HORARIO</h5>
                                    <hr>
                                    <p class="text-justify text-center">Lu - 9:00 a 14:00</p>
                                    <p class="text-justify text-center">Ma - 9:00 a 14:00</p>
                                    <p class="text-justify text-center">Mi - 9:00 a 14:00</p>
                                    <p class="text-justify text-center">Ju - 9:00 a 14:00</p>
                                    <p class="text-justify text-center">Vi - 9:00 a 14:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="map-container" class="z-depth-1-half embed-responsive hoverable marco" style="height: 465px; width: 600; ">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.993882462266!2d-104.65946228450476!3d24.031280884451597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bb7df3501dfcb%3A0x505faa96ccc87cc3!2s(COPRISED)+Comisi%C3%B3n+para+la+Protecci%C3%B3n+Contra+Riesgos+Sanitarios+del+Estado+Durango!5e0!3m2!1ses!2smx!4v1559762778117!5m2!1ses!2smx" 
                                width="600" 
                                height="465" 
                                frameborder="0" 
                                style="border:0" 
                                allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div> <br>
            </div>
        </div>
    </div>
    
    
</div>
