<!-- Card deck -->



<div class="card-deck col-md-12">



<div class="card mb-3">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../../../assets/imagenes/atencion-usario.png" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Información</h4>
      <!--Text-->
      <p class="card-text">Si tiene alguna duda sobre tramites o informacion de direcciones no dudes en llamar al telefono que aparese en la imagen  </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md" routerLink="/main/tramites">Tramites y servicios</button>

    </div>

  </div>



  <!-- Card -->
  <div class="card mb-3">
      <!--Card content-->
    <div class="card-body">

        <a class="twitter-timeline"
        href="https://twitter.com/coprisedoficial"
        data-width="700"
        data-height="600">
      
      </a>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.3"></script>


<div class="fb-page" data-href="https://www.facebook.com/coprised" data-tabs="timeline" data-width="500" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/coprised" 
  class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/coprised"></a></blockquote></div>
  
  <div class="card border-info mb-3 mx-auto" style="max-width: 35rem;">
      
      <div class="card-body text-info">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcoprised&tabs=timeline&width=500&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="700" style="border:none;overflow:hidden" 
         scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>

  
  
  