<div class="container">
  <!-- CARROUSEL -->
<h3>CAROUSEL</h3>
<hr>
<form>
    <!-- Grid row -->
    <div class="form-row align-items-center">
      <!-- Grid column -->
      <div class="col-auto">
        <!-- Material input -->
        <div class="md-form">
            <mdb-icon far icon="images"></mdb-icon>
            <input mdbInput type="text" id="form2" class="form-control">
            <label for="form2">Texto aqui</label>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-0">Modificar</button>
        </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-0">Eliminar</button>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </form>
  <!-- Material auto-sizing form -->
<br>
<!-- BANNER -->
<h3>BANNER</h3>
<hr>
<form>
    <!-- Grid row -->
    <div class="form-row align-items-center">
      <!-- Grid column -->
      <div class="col-auto">
        <!-- Material input -->
        <div class="md-form">
            <mdb-icon fas icon="image"></mdb-icon>
            <input mdbInput type="text" id="form2" class="form-control">
            <label for="form2">Texto aqui</label>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-0">Modificar</button>
        </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-0">Eliminar</button>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </form>
  <!-- Material auto-sizing form -->
<br>
<!-- CARDS -->
<h3>CARDS</h3>
<hr>
<form>
    <!-- Grid row -->
    <div class="form-row align-items-center">
      <!-- Grid column -->
      <div class="col-auto">
        <!-- Material input -->
        <div class="md-form">
            <mdb-icon fas icon="address-card"></mdb-icon>
            <input mdbInput type="text" id="form2" class="form-control">
            <label for="form2">Texto aqui</label>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-0">Modificar</button>
        </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-0">Eliminar</button>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </form>
  <!-- Material auto-sizing form -->
</div>