<!-- Barra de navegacion -->
<menu-nav></menu-nav>

<!-- Banner -->
<app-banner id="inicio"></app-banner>

<!-- Imagenes de slider -->
<app-slide></app-slide>

<!-- Seccion del comisionado -->
<app-comisionado id="conocenos"></app-comisionado>

<!-- CARDS -->
<app-cards></app-cards>

<!-- googel maps -->
<app-ubicacion id="direcciones"></app-ubicacion>






  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ejecutar Acción al Cerrar Modal</h4>
        </div>
        <div class="modal-body">
          <p>Probaremos como ejecutar una accion al detectar el cierre del modal</p>
        </div>
      </div>
      <button type="button" class="btn btn-info btn-md" id="myBtn">Ocultar Modal</button>
    </div>
  </div>


  <script>
  
  $(document).ready(function(){
    
    $("#myModal").modal("show");
    
    
    $("#myBtn").click(function(){
        $("#myModal").modal("hide");
    });
    $("#myModal").on('hidden.bs.modal', function () {
            alert("Esta accion se ejecuta al cerrar el modal")
    });

})
  </script>