s
#face
{
    background-color: #3b5999;
}

#twitt
{
    background-color: #55acee;
}

#goog
{
    background-color: #dd4b39;
}

#linkd
{
    background-color: #0077B5;
}

#insta
{
    background-color: #e4405f;
}