<div id="map-container" class="z-depth-1-half embed-responsive hoverable" style="height: 500px; width: 600;">
    <iframe  class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2089.901809435945!2d-104.65838757140784!3d24.031464580798474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bb7df3501dfcb%3A0x505faa96ccc87cc3!2s(COPRISED)+Comisi%C3%B3n+para+la+Protecci%C3%B3n+Contra+Riesgos+Sanitarios+del+Estado+Durango!5e0!3m2!1ses!2smx!4v1551200782958" 
        width="600" 
        height="500" 
        frameborder="2" 
        style="border:0" 
        allowfullscreen>
    </iframe>
</div>