<menu-nav></menu-nav>
<app-banner></app-banner>
<h1>Tramites y Servicios</h1>
<hr>
<br>
<h3>Guia de Tramites Y Servios Gubernamentales con Especificaciones , Costos Requisitos y Lugares Donde Realizarlos. </h3>
<!--aqui esta el buscador-->

<!--categorias de servicio
          <div class="row justify-content-center ">

            <div class="col-md-2 resp catego productos p-a "><span>Productos Y Servicios</span></div>
            <div class="col-md-2 resp catego insumos i-a "><span>Insumos Para la Salud</span></div>
            <div class="col-md-2 resp catego productos p-a"><span>Salud Ambiental</span></div>
            <div class="col-md-2 resp catego insumos i-a"><span>Servicios de Salud</span></div>

          </div>
    
<br>
        
          <br>-->
<!-- categorias mas buscadas-->
<div class="row justify-content-center tamaño col-md-12">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <mdb-navbar-brand>
      <a href="#" class="navbar-brand ">Tramites Comunes</a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link blue-gradient " (click)="mostrar()" mdbTooltip="Para dar de alta tramites de productos y servicios" mdbWavesEffect>COFEPRIS-05-018 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link blue-gradient" (click)="mostrar2()" mdbWavesEffect>COFEPRIS-05-019</a>
        </li>
        <li class="nav-item">
          <a class="nav-link blue-gradient" (click)="mostrar3()" mdbWavesEffect>COFEPRIS-05-036</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>
<br>
<div>




  <!-- aqui empieza informcion genral de texto-->
  <mdb-card class="size" *ngIf="mostrarTramite">
    <mdb-card-body class="text-c">
      <strong> <u>DOCUMENTOS REQUERIDOS PARA FORMATO </u> </strong><br>
      <strong> <u>COFEPRIS-05-018</u> <br>(Aviso de funcionamiento del establecimiento de Productos Y Servicios)</strong>
      <div class="list">
        <ul>
          <li class="font">Original y copia siempre legible del formato "avisos de funcionaminto, de Responsable Sanitario
            y Modificacion o Baja", Debidamente requisitado.</li>
          <strong><u mdbTooltip="
                                    Como persona moral o jurídica se designa, en derecho, toda aquella entidad de existencia jurídica, que está constituida por grupos u organizaciones de personas">En Caso de ser personas Morales:</u></strong>
          <li class="font">Original y Copia legible de acta constitutiva o poder notarial que acredite al representate legal.</li>
          <li class="font">Copia legible de identificacion oficial del representante legal <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo)</strong></li>
          <li class="font">Copia legible de identificacion oficial de las personas autorizadas<strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo)</strong></li>
          <strong><u mdbTooltip="

                                    Una persona física o natural es, según el derecho, un individuo con existencia real y material, que tiene la capacidad para ejercer sus derechos y contraer obligaciones dentro del marco de la ley y la constitución">En Caso de ser personas Fiscas:</u></strong>
          <li class="font">Copia legible de identificacion oficial del Propietario <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo) </strong></li>
          <li class="font">Copia legible de identificacion oficial del representante legal <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo) </strong></li>
        </ul>
      </div>

      <div class="table-responsive  ">
          <table class="table-bordered col-md-6  mx-auto">
            <thead>
              <tr>
                
                <th class="text-p">Papeleria necesaria.</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>COPIA DEL IFE</td>
              
              </tr>
              <tr>
                
                <td>COPIA DE RFC</td>
             
              </tr>
              <tr>
                
                <td> COPIA DE COMPROBANTE DE DOMICILIO DEL NEGOCIO</td>
              
              </tr>
            </tbody>
          </table>
        </div>


      <div>
        <!--comieza el collapse de claves csian-->
        <a class="btn btn-primary col-md-5" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">CLAVES SCIAN</a>
        <div class="row">
          <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <div class="card border-primary col-md-12" style="max-width: 95rem;">
                  <div class="card-header font-t">CLAVES SCIAN Y DESCRIPCION</div>
                  <div class="card-body text-primary">
                    <ul>
                      <li>
                        <p class="color-t font-c"><u>722511</u>:Restaurantes con servicio de preparacion de alimentos a la carta o de comida corrida
                          <strong> <u>(incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722512</u>:Restaurantes con servicio de preparacion de Pescados Y Mariscos
                          <strong><u> (incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722513</u>:Restaurantes con servicio de preparacion de antojitos
                          <strong><u>(incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722514</u>:Restaurantes con servicio de preparacion de Tacos y Tortas
                          <strong> <u> (incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722515</u>:Cafeterias, Fuentes de Sodas,Neverias,Refresquerias y Similares
                          <strong> <u> (incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c "><u>722517</u>:Restaurantes con Servicio de Preparacion de Pizza,Hamburgesas, HotDogs y Pollos Rostizados para Llevar).</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722519</u>:Servicio de Preparacion de Otros Alimentos Para Consumo Inmediato.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>467111</u>:Comercio al Por Menor en Ferreteria y Tlapalerias <strong><u>(Solo para Ventas de Plaguicidas , Nutrientes Vegetales y Sustancias Tóxicas).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>461110</u>:Comercio al Por Menor en Tiendas de Abarrotes, Ultramarinos y Miscelaneas.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>461121</u>:Comercio al Por Menor de Carnes Rojas.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>311812</u>:Planificacion Tradicional.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>312142</u>:Elaboracion de Bebidas Destiladas de Agave.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="colla">
        <!-- Collapse buttons -->
        <div>
          <a class="btn btn-primary col-md-5" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Descargar formato e informacion
          </a>
        </div>
        <!-- Collapsible element -->
        <div class="collapse col-md-12" id="collapseExample">
          <div class="mt-3 row">
            <!--empieza informacion al usuario desplegable en un collapse-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t">FORMATO</div>
              <div class="card-body text-primary">
                <a href="http://documentos.cofepris.gob.mx/archivos/cis/FORMATOS/Formato_Aviso_Funcionamiento.docx" class="btn btn-primary bo-m col-md-12">Descargar formulario</a>
                <a target=".blank" href="https://www.gob.mx/cms/uploads/attachment/file/348567/Instructivo_Aviso_Funcionamiento.pdf" class="btn btn-primary bo-m col-md-12">Click Para Mas informacion</a>
              </div>
            </div>
            <!--informacion de pago-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t  size-t">PAGO ASOCIADO</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t">NO REQUIERE PAGO</Strong></p>
              </div>
            </div>
            <!--inftomacion de tramite-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t"> FICHA DE TRAMITE</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t">NO APLICA</Strong></p>
              </div>
            </div>
            <!--los fudamentos legales -->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t">FUNDAMENTO LEGAL</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t font-f">ARTICULO 200 Y 200 BIS DE LA LEY GENERAL DE SALUD </Strong></p>
              </div>
            </div>
          </div>
        </div>
        <!--collapse de como llenar el formato  con los pasos del formulario correspondiente-->
        <button class="btn btn-primary col-md-5" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Instrucciones de como llenar el formato</button>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body col-md-12">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO UNO</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso1.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body col-md-12 ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO DOS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso2.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body col-md-12 ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO TRES</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso3.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO TRES PARTE DOS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso3_parte2.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO SEIS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title color-t">
                      <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p> <img class="size-i zoom" src="../../../assets/imagenes/paso6_sub1.png" alt="">
                    </h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO SEIS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title color-t ">
                      <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p><img class="size-i zoom" src="../../../assets/imagenes/paso6_sub2.png" alt="">
                    </h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
                      Ver tablas 
                    </button>
                    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Categoria de Producto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img class="size-i zoom" src="../../../assets/imagenes/tabla_b.png">
                            <img class="size-i zoom" src="../../../assets/imagenes/tabla_b_cont.png" alt="">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  <div class="card card-body ">
                    <div class="card border-primary mb-3 " style="max-width: 50rem;">
                      <div class="card-header">CAMPO SEIS</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title color-t ">
                          
                          <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p><img class="size-i zoom" src="../../../assets/imagenes/pasos3y4.png" alt="">
                        </h5>
                        <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body ">
                      <div class="card border-primary mb-3 " style="max-width: 50rem;">
                        <div class="card-header">CAMPO SEIS</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title color-t ">
                            <h2>AVISO!!! <br>
                              este paso solo si es requerido</h2>
                            <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p><img class="size-i zoom" src="../../../assets/imagenes/pasos_5_y_6.png" alt="">
                          </h5>
                          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body ">
                      <div class="card border-primary mb-3 " style="max-width: 50rem;">
                        <div class="card-header">CAMPO SEIS</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title color-t ">
                            
                            <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p><img class="size-i zoom" src="../../../assets/imagenes/pasos_7y8.png" alt="">
                          </h5>
                          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>


<div>
  <!-- aqui empieza informcion genral de texto-->
  <mdb-card class="size" *ngIf="mostrarTramite2">
    <mdb-card-body class="text-c">
      <strong> <u>DOCUMENTOS REQUERIDOS PARA FORMATO </u> </strong><br>
      <strong> <u>COFEPRIS-05-019</u> <br>(Aviso de Modificacion  al Aviso de Funcionamiento o Baja de Establecimiento de Productos Y Servicios)</strong>
      <div class="list">
        <ul>
          <li class="font">Original y copia siempre legible del formato "avisos de funcionaminto, de Responsable Sanitario
            y de Modificacion o Baja", Debidamente requisitado.</li>
          <strong><u mdbTooltip="Como persona moral o jurídica se designa, en derecho, toda aquella entidad de existencia jurídica, que está constituida por grupos u organizaciones de personas">En Caso de ser personas Morales:</u></strong>
          <li class="font">Original y Copia legible de acta constitutiva o poder notarial que acredite al representate legal.</li>
          <li class="font">Copia legible de identificacion oficial del representante legal <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo)</strong></li>
          <li class="font">Copia legible de identificacion oficial de las personas autorizadas<strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo)</strong></li>
          <strong><u mdbTooltip="Una persona física o natural es, según el derecho, un individuo con existencia real y material, que tiene la capacidad para ejercer sus derechos y contraer obligaciones dentro del marco de la ley y la constitución">En Caso de ser personas Fiscas:</u></strong>
          <li class="font">Copia legible de identificacion oficial del Propietario <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo) </strong></li>
          <li class="font">Copia legible de identificacion oficial del representante legal <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo) </strong></li>
        </ul>
      </div>

      <div class="table-responsive  ">
          <table class="table-bordered col-md-6  mx-auto">
            <thead>
              <tr>
                
                <th class="text-p">Papeleria necesaria.</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>COPIA DEL IFE</td>
              
              </tr>
              <tr>
                
                <td>COPIA DE RFC</td>
             
              </tr>
              <tr>
                
                <td> COPIA DE COMPROBANTE DE DOMICILIO DEL NEGOCIO</td>
              
              </tr>
              <tr>
                
                  <td> ENTREGAR EL ORIGINAL ANTERIOR</td>
                
                </tr>
            </tbody>
          </table>
        </div>

      <div>
        <!--comieza el collapse de claves csian-->
        <a class="btn btn-primary col-md-5" data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4">CLAVES SCIAN</a>
        <div class="row">
          <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseExample4">
              <div class="card card-body">
                <div class="card border-primary col-md-12" style="max-width: 95rem;">
                  <div class="card-header font-t">CLAVES SCIAN Y DESCRIPCION</div>
                  <div class="card-body text-primary">
                    <ul>
                      <li>
                        <p class="color-t font-c"><u>722511</u>:Restaurantes con servicio de preparacion de alimentos a la carta o de comida corrida
                          <strong> <u>(incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722512</u>:Restaurantes con servicio de preparacion de Pescados Y Mariscos
                          <strong><u> (incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722513</u>:Restaurantes con servicio de preparacion de antojitos
                          <strong><u>(incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722514</u>:Restaurantes con servicio de preparacion de Tacos y Tortas
                          <strong> <u> (incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722515</u>:Cafeterias, Fuentes de Sodas,Neverias,Refresquerias y Similares
                          <strong> <u> (incluye Restaurantes Hoteles, Moteles y Similares).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c "><u>722517</u>:Restaurantes con Servicio de Preparacion de Pizza,Hamburgesas, HotDogs y Pollos Rostizados para Llevar).</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>722519</u>:Servicio de Preparacion de Otros Alimentos Para Consumo Inmediato.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>467111</u>:Comercio al Por Menor en Ferreteria y Tlapalerias <strong><u>(Solo para Ventas de Plaguicidas , Nutrientes Vegetales y Sustancias Tóxicas).</u></strong></p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>461110</u>:Comercio al Por Menor en Tiendas de Abarrotes, Ultramarinos y Miscelaneas.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>461121</u>:Comercio al Por Menor de Carnes Rojas.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>311812</u>:Planificacion Tradicional.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>312142</u>:Elaboracion de Bebidas Destiladas de Agave.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="colla">
        <!-- Collapse buttons -->
        <div>
          <a class="btn btn-primary col-md-5" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            Descargar formato e informacion
          </a>
        </div>
        <!-- Collapsible element -->
        <div class="collapse col-md-12" id="collapseExample2">
          <div class="mt-3 row">
            <!--empieza informacion al usuario desplegable en un collapse-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t">FORMATO</div>
              <div class="card-body text-primary">
                <a href="http://documentos.cofepris.gob.mx/archivos/cis/FORMATOS/Formato_Aviso_Funcionamiento.docx" class="btn btn-primary bo-m col-md-12">Descargar formulario</a>
                <a target=".blank" href="https://www.gob.mx/cms/uploads/attachment/file/348567/Instructivo_Aviso_Funcionamiento.pdf" class="btn btn-primary bo-m col-md-12">Click Para Mas informacion</a>
              </div>
            </div>
            <!--informacion de pago-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t  size-t">PAGO ASOCIADO</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t">NO REQUIERE PAGO</Strong></p>
              </div>
            </div>
            <!--inftomacion de tramite-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t"> FICHA DE TRAMITE</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t">NO APLICA</Strong></p>
              </div>
            </div>
            <!--los fudamentos legales -->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t">FUNDAMENTO LEGAL</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t font-f">ARTICULO 200 Y 200 BIS DE LA LEY GENERAL DE SALUD </Strong></p>
              </div>
            </div>
          </div>
        </div>
        <!--collapse de como llenar el formato  con los pasos del formulario correspondiente-->
        <button class="btn btn-primary col-md-5" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Instrucciones de como llenar el formato</button>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body col-md-12">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO UNO</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso1.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body col-md-12 ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO DOS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso2.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body col-md-12 ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO TRES</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso3.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO TRES PARTE DOS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso6_sub1.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO SEIS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title color-t">
                      <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p> <img class="size-i zoom" src="../../../assets/imagenes/paso6_sub2.png" alt="">
                    </h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal2">
                        Ver tablas 
                      </button>
                      <div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel2">Categoria de Producto</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img class="size-i zoom" src="../../../assets/imagenes/tabla_b.png">
                              <img class="size-i zoom" src="../../../assets/imagenes/tabla_b_cont.png" alt="">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO SEIS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title color-t ">
                      <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p><img class="size-i zoom" src="../../../assets/imagenes/pasos3y4.png" alt="">
                    </h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                  <div class="card card-body ">
                    <div class="card border-primary mb-3 " style="max-width: 50rem;">
                      <div class="card-header">CAMPO SEIS</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title color-t ">
                          <h2>AVISO!!! <br>
                             este paso solo si es requerido</h2>
                          <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p><img class="size-i zoom" src="../../../assets/imagenes/pasos_5_y_6.png" alt="">
                        </h5>
                        <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div class="card card-body ">
                      <div class="card border-primary mb-3 " style="max-width: 50rem;">
                        <div class="card-header">CAMPO SEIS</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title color-t ">
                            
                            <p><strong>Aqui de la seccion 6 se llenan los siguientes numeros</strong></p><img class="size-i zoom" src="../../../assets/imagenes/pasos_7y8.png" alt="">
                          </h5>
                          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                      <div class="card card-body ">
                        <div class="card border-primary mb-3 " style="max-width: 50rem;">
                          <div class="card-header">CAMPO SIETE</div>
                          <div class="card-body text-primary">
                            <h5 class="card-title color-t ">
                              
                              <p><strong>AVISO!!! <br> SOLO EN CASO DE SER NECESARIO LLENAR ESTE CAMPO</strong></p><img class="size-i zoom" src="../../../assets/imagenes/paso7.png" alt="">
                            </h5>
                            <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                  <div class="card card-body ">
                    <div class="card border-primary mb-3 " style="max-width: 50rem;">
                      <div class="card-header">CAMPO SIETE</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title color-t ">
                          
                          <p><strong>AVISO!!! <br> SOLO EN CASO DE SER NECESARIO LLENAR ESTE CAMPO</strong></p><img class="size-i zoom" src="../../../assets/imagenes/paso7_sub2.png" alt="">
                        </h5>
                        <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div class="card card-body ">
                      <div class="card border-primary mb-3 " style="max-width: 50rem;">
                        <div class="card-header">CAMPO SIETE</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title color-t ">
                            
                            <p><strong>AVISO!!! <br> SOLO EN CASO DE SER NECESARIO LLENAR ESTE CAMPO</strong></p><img class="size-i zoom" src="../../../assets/imagenes/paso7_sub3.png" alt="">
                          </h5>
                          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                      <div class="card card-body ">
                        <div class="card border-primary mb-3 " style="max-width: 50rem;">
                          <div class="card-header">CAMPO SIETE</div>
                          <div class="card-body text-primary">
                            <h5 class="card-title color-t ">
                              
                              <p><strong>AVISO!!! <br> SOLO EN CASO DE SER NECESARIO LLENAR ESTE CAMPO</strong></p><img class="size-i zoom" src="../../../assets/imagenes/paso7_sub4.png" alt="">
                            </h5>
                            <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>


<div>
  <!-- aqui empieza informcion genral de texto 036-->
  <mdb-card class="size" *ngIf="mostrarTramite3">
    <mdb-card-body class="text-c">
      <strong> <u>DOCUMENTOS REQUERIDOS PARA FORMATO </u> </strong><br>
      <strong> <u>COFEPRIS-05-036</u> <br>(Aviso de Funcionamiento y de Responsable Sanitario de el Establecimiento de Servicios de Salud)</strong>
      <div class="list">
        <ul>
          <li class="font">Original y copia siempre legible del formato "avisos de funcionaminto, de Responsable Sanitario
            y de Modificacion o Baja", Debidamente requisitado.</li>
          <strong><u mdbTooltip="Como persona moral o jurídica se designa, en derecho, toda aquella entidad de existencia jurídica, que está constituida por grupos u organizaciones de personas">En Caso de ser personas Morales:</u></strong>
          <li class="font">Original y Copia legible de acta constitutiva o poder notarial que acredite al representate legal.</li>
          <li class="font">Copia legible de identificacion oficial del representante legal <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo)</strong></li>
          <li class="font">Copia legible de identificacion oficial de las personas autorizadas<strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo)</strong></li>
          <strong><u mdbTooltip="Una persona física o natural es, según el derecho, un individuo con existencia real y material, que tiene la capacidad para ejercer sus derechos y contraer obligaciones dentro del marco de la ley y la constitución">En Caso de ser personas Fiscas:</u></strong>
          <li class="font">Copia legible de identificacion oficial del Propietario <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo) </strong></li>
          <li class="font">Copia legible de identificacion oficial del representante legal <strong>(Credencial del Instituto Nacional Electoral(INE)o pasaporte vigente o cartilla militar nacional o licencia de manejo) </strong></li>
        </ul>
      </div>

      <div class="table-responsive ">
          <table class="table-bordered col-md-6  mx-auto">
            <thead>
              <tr>
                
                <th class="text-p">Papeleria necesaria.</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>COPIA DEL IFE</td>
              
              </tr>
              <tr>
                
                <td>COPIA DE RFC</td>
             
              </tr>
              <tr>
                
                <td> COPIA DE COPIA DEL TITULO</td>
              
              </tr>
              <tr>
                
                  <td> COPIA DE CEDULA</td>
                
                </tr>
                <tr>
                
                    <td> SI TIENE ESPECIALIDAD TRAER TITULO Y CEDULA </td>
                  
                  </tr>
                  <tr>
                
                      <td> CURRICULUM SIMPLIFICADO</td>
                    
                    </tr>
                    <tr>
                
                        <td> PLANO DEL CONSULTORIO A COMPUTADORA</td>
                      
                      </tr>
                      <tr>
                
                          <td> MEMORIA DESCRIPTIVA (<u>INVENTARIO</u>)</td>
                        
                        </tr>
                        <tr>
                
                            <td> DOS FOTOGRAFIA</td>
                          
                          </tr>
            </tbody>
          </table>
        </div>

      <div>
        <!--comieza el collapse de claves csian-->
        <a class="btn btn-primary col-md-5" data-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5">CLAVES SCIAN</a>
        <div class="row">
          <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseExample5">
              <div class="card card-body">
                <div class="card border-primary col-md-12" style="max-width: 95rem;">
                  <div class="card-header font-t">CLAVES SCIAN Y DESCRIPCION</div>
                  <div class="card-body text-primary">
                    <ul>
                      <li>
                        <p class="color-t font-c"><u>621111</u>:Consultorios de Medicamentos General del Sector Privado.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>621113</u>:Consultorios de Medicina Especializada del Sector Privado.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>621211</u>:Consultorios Dentales del Sector Privado.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>621311</u>:Consultorios de Quiropractica del Sector Privado.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>621331</u>:Consultorios de Psicologia del Sector Privado.</p>
                      </li>
                      <li>
                        <p class="color-t font-c "><u>621341</u>:Consultorios del Sector Privado de Audiologia y Terapia Ocupacional.Fiscal y de Lenguage.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>621391</u>:Consultorios de Nutriologos y Dietistas del Sector Privado.</p>
                      </li>
                      <li>
                        <p class="color-t font-c"><u>621398</u>:Otros Consultorios del Sector Privado Para el Cuidado de la Salud.</p>
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="colla">
        <!-- Collapse buttons -->
        <div>
          <a class="btn btn-primary col-md-5" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
            Descargar formato e informacion
          </a>
        </div>
        <!-- Collapsible element -->
        <div class="collapse col-md-12" id="collapseExample3">
          <div class="mt-3 row">
            <!--empieza informacion al usuario desplegable en un collapse-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t">FORMATO</div>
              <div class="card-body text-primary">
                <a href="http://documentos.cofepris.gob.mx/archivos/cis/FORMATOS/Formato_Aviso_Funcionamiento.docx" class="btn btn-primary bo-m col-md-12">Descargar formulario</a>
                <a target=".blank" href="https://www.gob.mx/cms/uploads/attachment/file/348567/Instructivo_Aviso_Funcionamiento.pdf" class="btn btn-primary bo-m col-md-12">Click Para Mas informacion</a>
              </div>
            </div>
            <!--informacion de pago-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t  size-t">PAGO ASOCIADO</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t">NO REQUIERE PAGO</Strong></p>
              </div>
            </div>
            <!--inftomacion de tramite-->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t"> FICHA DE TRAMITE</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t">NO APLICA</Strong></p>
              </div>
            </div>
            <!--los fudamentos legales -->
            <div class="card border-primary col-md-3" style="max-width: 25rem;">
              <div class="card-header font-t size-t">FUNDAMENTO LEGAL</div>
              <div class="card-body text-primary">
                <p><Strong class="color-t font-f">ARTICULOS 47 , 200 Y 200 BIS DE LA LEY GENERAL DE SALUD </Strong></p>
              </div>
            </div>
          </div>
        </div>
        <!--collapse de como llenar el formato  con los pasos del formulario correspondiente-->
        <button class="btn btn-primary col-md-5" type="button" data-toggle="collapse" data-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6">Instrucciones de como llenar el formato</button>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample6">
              <div class="card card-body col-md-12">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO UNO</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso1.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample6">
              <div class="card card-body col-md-12 ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO DOS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso2.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample6">
              <div class="card card-body col-md-12 ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO TRES</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso3.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample6">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO TRES PARTE DOS</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title "><img class="size-i zoom" src="../../../assets/imagenes/paso3_parte2.png" alt=""></h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample6">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO CUATRO</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title color-t">
                        <strong><ul class="color-t">LLENAR ESTE PASO SOLO SI EL CONSULTORIO CUENTA CON AMBULANCIAS!!</ul></strong>
                      <p> <img class="size-i zoom" src="../../../assets/imagenes/PASO4.png" alt="click para zoom">
                    </h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample6">
              <div class="card card-body ">
                <div class="card border-primary mb-3 " style="max-width: 50rem;">
                  <div class="card-header">CAMPO CINCO</div>
                  <div class="card-body text-primary">
                    <h5 class="card-title color-t ">
                      <p></p><img class="size-i zoom" src="../../../assets/imagenes/paso5.png" alt="">
                    </h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample6">
                  <div class="card card-body ">
                    <div class="card border-primary mb-3 " style="max-width: 95rem;">
                      <div class="card-header">CAMPO SEIS</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title color-t ">
                          <h2>AVISO!!! <br>
                             este paso solo si es requerido</h2>
                          <p></p><img class="size-i " src="../../../assets/imagenes/paso6_sub2.png" alt="">
                        </h5>
                        <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal3">
                            Ver tablas 
                          </button>
                          <div class="modal fade" id="basicExampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel3">Categoria de Producto</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <img class="size-i zoom" src="../../../assets/imagenes/tabla_b.png">
                                  <img class="size-i zoom" src="../../../assets/imagenes/tabla_b_cont.png" alt="">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
                                 
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           
             
       
             
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>

