<div mdbScrollSpyElement="scrollspy1" id="home" >
<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="\assets\imagenes\Logo COPRISED 2017 Horizontal.png" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="\assets\imagenes\Logo COPRISED 2017 Horizontal.png" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="\assets\imagenes\Logo COPRISED 2017 Horizontal.png" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
</div>