<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li><a routerLinkActive="active current" routerLink="/admin/dashboard/administracion"
          mdbWavesEffect>Administracion</a></li>
      <li><a routerLinkActive="active current" routerLink="/admin/dashboard/usuarios" mdbWavesEffect>Usuarios</a></li>
      <li><a routerLinkActive="active current" routerLink="/admin/dashboard/analisis" mdbWavesEffect>Analisis</a></li>
      <hr>
    </ul>
  </div>

  <!-- Page content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <section class="container">
            <div class="col-md-4">
              <mdb-breadcrumb customClass="primary-color white-text">
                <mdb-breadcrumb-item><a routerLinkActive="active current" routerLink="/admin/dashboard/administracion"
                    mdbWavesEffect>Administracion</a></mdb-breadcrumb-item>
                <mdb-breadcrumb-item><a routerLinkActive="active current" routerLink="/admin/dashboard/usuarios"
                    mdbWavesEffect>Usuarios</a></mdb-breadcrumb-item>
                <mdb-breadcrumb-item><a routerLinkActive="active current" routerLink="/admin/dashboard/analisis"
                    mdbWavesEffect>Analisis</a></mdb-breadcrumb-item>
              </mdb-breadcrumb>
            </div>
            <router-outlet></router-outlet>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>